<% if (config.baseurl || theme.baseurl) { %>
<style>
    .nav-back {
        position: fixed;
        top: 20px;
        left: 20px;
        opacity: 0.5;
        z-index: 1000;
    }
</style>
<a class="nav-back" href="<%- config.baseurl || theme.baseurl %>" target="_self">
    <i class="fa fa-chevron-left"></i>
</a>
<% } %>
